.container {
  margin-top: 25vh;
}

.cls-1 {
  transition: 0.8s;
  fill: #c1272d;
  cursor: pointer;
}

body {
  background-color: #222222;
  color: #e7e7e7;
}

#profile_photo, .shape_1, .shape_2 {
  -webkit-clip-path: polygon(0 65%, 100% 0, 90% 100%, 0 65%);
  clip-path: polygon(0 65%, 100% 0, 90% 100%, 0 65%);
}

.shape_1 {
  background-color: #c1272d;
  min-height: 150px;
}

.shape_2 {
  background-color: #c1272d;
  min-height: 75px;
}

.shape_1, .shape_2 {
  margin-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Metamorphous', sans-serif;
  margin-bottom: 20px;
}

p, a {
  font-weight: lighter;
}

a {
  color: white;
  text-decoration: underline;
}
